<?xml version="1.0"?>
<launch>
	<!-- node to detect the ar markers and publish these information on different channels, e.g. bluetooth -->
	<node name="ar_kinect_bluetooth" pkg="nxt_localization" type="ar_kinect_bluetooth" respawn="false" output="screen">
		<param name="marker_pattern_list" type="string" value="$(find nxt_localization)/ros/cfg/markers.cfg"/>
		<param name="marker_data_directory" type="string" value="$(find ar_pose)/"/>
		<param name="threshold" type="int" value="100"/>
		<param name="publish_tf" type="int" value="1"/>
		<param name="publish_visual_markers" type="int" value="0"/>
		<param name="publish_ar_pose_makers" type="int" value="0"/>
		<param name="publish_to_bluetooth" type="int" value="1"/>
	</node>
</launch>
